<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://mysql-env-3491451.jelasticloud.com/journal</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">a3QrBpO9kx</property>
        <mapping class="com.system.edu.models.dao.Classes"/>
        <mapping class="com.system.edu.models.dao.Cycles"/>
        <mapping class="com.system.edu.models.dao.GradeTypes"/>
        <mapping class="com.system.edu.models.dao.Grades"/>
        <mapping class="com.system.edu.models.dao.PlanClasses"/>
        <mapping class="com.system.edu.models.dao.Plans"/>
        <mapping class="com.system.edu.models.dao.Positions"/>
        <mapping class="com.system.edu.models.dao.Pupils"/>
        <mapping class="com.system.edu.models.dao.Roles"/>
        <mapping class="com.system.edu.models.dao.Subjects"/>
        <mapping class="com.system.edu.models.dao.Teachers"/>
        <mapping class="com.system.edu.models.dao.UserRoles"/>
        <mapping class="com.system.edu.models.dao.UsersEntity"/>
    </session-factory>
</hibernate-configuration>