<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/journal</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>
        <mapping class="com.system.edu.models.dao.ClassesEntity"/>
        <mapping class="com.system.edu.models.dao.CyclesEntity"/>
        <mapping class="com.system.edu.models.dao.GradeTypesEntity"/>
        <mapping class="com.system.edu.models.dao.GradesEntity"/>
        <mapping class="com.system.edu.models.dao.PositionsEntity"/>
        <mapping class="com.system.edu.models.dao.PupilsEntity"/>
        <mapping class="com.system.edu.models.dao.RolesEntity"/>
        <mapping class="com.system.edu.models.dao.SubjectsEntity"/>
        <mapping class="com.system.edu.models.dao.TeachersEntity"/>
        <mapping class="com.system.edu.models.dao.UserRolesEntity"/>
        <mapping class="com.system.edu.models.dao.ClassesEntity"/>
        <mapping class="com.system.edu.models.dao.CyclesEntity"/>
        <mapping class="com.system.edu.models.dao.GradeTypesEntity"/>
        <mapping class="com.system.edu.models.dao.GradesEntity"/>
        <mapping class="com.system.edu.models.dao.PositionsEntity"/>
        <mapping class="com.system.edu.models.dao.PupilsEntity"/>
        <mapping class="com.system.edu.models.dao.RolesEntity"/>
        <mapping class="com.system.edu.models.dao.SubjectsEntity"/>
        <mapping class="com.system.edu.models.dao.TeachersEntity"/>
        <mapping class="com.system.edu.models.dao.UserRolesEntity"/>
        <mapping class="com.system.edu.models.dao.UsersEntity"/>
        <mapping class="com.system.edu.models.dao.PlanClassesEntity"/>
        <mapping class="com.system.edu.models.dao.PlanLessonsEntity"/>
        <mapping class="com.system.edu.models.dao.PlansEntity"/>
        <mapping class="com.system.edu.models.dao.ScheduleEntity"/>
        <mapping class="com.system.edu.models.dao.SupportEntity"/>
    </session-factory>
</hibernate-configuration>