<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link href="webjars/bootstrap/2.3.0/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/2.3.0/css/bootstrap.min.css}"	rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-superhero.min.css" th:href="@{/css/bootstrap-superhero.min.css}" />
</head>
<body>
	<div class="container sm-form sm-login">
		<h2 class="sm-heading">Sign in</h2>
		<form class="login" th:action="@{/login}" method="post">
			<p th:if="${signInError != null}" class="error-label">Login name or password is incorrect</p>
			<input type="text" id="loginName" class="form-control" name="loginName" placeholder="Login" autofocus="autofocus"
				th:value="${loginName}" required="required" />
			<input type="password" required="required" id="password" class="form-control" name="password" placeholder="Password" />
			<input type="submit" class="btn btn-primary" value="Sign in" />
		</form>
	</div>
</body>
</html>
