.dataTables_length {
    margin: 10px 0;
    position: relative;
    float: right;
}

.dataTables_filter {
    margin: 10px 0;
    position: relative;
    float: left;
}

select {
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    color: #666666;
    font-weight: bold;
}

input[type=search] {
    height: 30px;
    margin-left: 5px;
}

a.paginate_button {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    position: relative;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

a.paginate_button.current {
    color: #999999;
    background-color: #f5f5f5;
}

.dataTables_paginate {
    margin: 10px 0;
}