<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-th-text="#{subject.list.page.title}">Title</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/reveal.css" th:href="@{/css/reveal.css}"/>
    <script th:src="@{/js/lib/development/bootstrap.js}"></script>
    <script th:src="@{/js/lib/development/jquery.reveal.js}"></script>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="js/lib/development/jquery.reveal.js"></script>
</head>
<body>
        <div class="container">
            <div th:include="header :: top(login_include=true)"></div>

            <div th:include="menu :: bar"></div>

            <ul class="breadcrumb" style="margin-bottom: 15px;">
                <li><a th:href="@{/index}">Home</a></li>
                <li class="active">Subjects</li>
            </ul>

            <h4 class="page-header" data-th-text="#{subject.list.table.title}">List of subjects</h4>
            <div class="table responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-2" data-th-text="#{subject.list.name.label}">Name</th>
                        <th class="col-sm-1" data-th-text="#{subject.list.shname.label}">Shorten Name</th>
                        <th class="col-sm-1" data-th-text="#{subject.list.difficulty.label}">Difficuly</th>
                        <th class="col-sm-2" data-th-text="#{subject.list.cycle.label}">Cycle Name</th>
                        <th class="col-sm-2" data-th-text="#{subject.list.actions.label}" style="text-align: center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subject : ${subjects}" th:id="srow + ${subject.id}">
                        <td data-th-text="${subject.name}">-</td>
                        <td data-th-text="${subject.nameShorten}">-</td>
                        <td data-th-text="${subject.difficulty}">-</td>
                        <td data-th-text="${subject.cycleByCycle.name}">-</td>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-default btn-xs" th:onclick="'javascript:editRow(' + ${subject.id} + ',\'' + ${subject.name} + '\',\'' + ${subject.nameShorten} + '\',\'' + ${subject.difficulty} + '\',' + ${subject.cycleByCycle.id} + ');'">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                            </button>
                            <a href="#" data-th-href="@{/subjects/delete(id=${subject.id})}">
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row" style="text-align: right; margin-right: 10px">
                <button type="button" class="btn btn-primary" th:onclick="'location.href=\'' + @{/subjects/add} + '\''">Add a new subject</button>
            </div>
        </div>

        <div id="modal" class="reveal-modal">
            <span id="message"></span>
            <a class="close-reveal-modal">&#215;</a>
        </div>


        <script>
            var subjectId;

            function editRow(subject, name, nameShorten, difficulty, cycleId) {
                subjectId = subject;
                var row = $('#srow' + subject);
                row.empty();
                var row_name = '<td><input id="sname" type="text" value=""/></td>';
                var row_shname = '<td><input id="shname" type="text" value=""/></td>';
                var row_sdifficulty = '<td><input id="sdifficulty" type="text" value=""/></td>';
                var row_scycle = '<select id="scycle" class="form-control"><option th:each="cycle : ${cycles}" th:value="${cycle.id}" th:text="${cycle.name}">Cycle</option></select>';
                var row_sbuttons = '<td style="text-align: center;"><button type="button" class="btn btn-default btn-xs" onclick="accept();"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Accept</button>&nbsp;';
                row_sbuttons += '<button type="button" class="btn btn-default btn-xs" onclick="cancel();"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Cancel</button></td>';

                row.append(row_name);
                row.append(row_shname);
                row.append(row_sdifficulty);
                row.append(row_scycle);
                row.append(row_sbuttons);

                $('#sname').val(name);
                $('#shname').val(nameShorten);
                $('#sdifficulty').val(difficulty);
            }

            function accept() {
                var sname = $('#sname').val();
                var shname = $('#shname').val();
                var sdifficulty = $('#sdifficulty').val();
                var scycleId = $('#scycle').val();
                var scycleName = $('#scycle option:selected').text();

                var row = $('#srow' + subjectId);
                row.empty();

                row.append('<td>' + sname + '</td>');
                row.append('<td>' + shname + '</td>');
                row.append('<td>' + sdifficulty + '</td>');
                row.append('<td>' + scycleName + '</td>');
                row.append('<button id="editBtnId" type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit</button>    <a href="#" id="deleteBtnId"> <button type="button" class="btn btn-default btn-xs"> <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete </button> </a>');

                $("#editBtnId").click(function () {
                    editRow(subjectId, sname, shname, sdifficulty, scycleId);
                });

                $("#deleteBtnId").prop("href", "/edu-system/subjects/delete?id=" + subjectId);
                $.post( "/edu-system/subjects/edit", { subjectId: subjectId, name: sname, nameShorten: shname, difficulty: sdifficulty, cycle: scycleId })
                        .done(function() {
                            $("#message").text("Your data was upgrade successfully");
                            $("#modal").reveal({});
                        })
                        .fail(function() {
                            $("#message").text("Some error was occurred");
                            $("#modal").reveal({});
                        });
            }
        </script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script th:src="@{/js/lib/development/bootstrap.js}"></script>
        <script th:src="@{/js/lib/development/table.pagination.js}"></script>
        <script th:src="@{/js/lib/development/datetimepicker.js}"></script>
    </body>
</html>