<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-th-text="#{teachers.list.page.title}">Title</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/pagination.css" th:href="@{/css/pagination.css}"/>
    <link rel="script" type="javascript" href="../js/lib/development/jquery-2.1.1.js"
          th:href="@{/js/lib/development/jquery-2.1.1.js}"/>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
</head>

<body>

<div class="container">
    <div th:include="header :: top(login_include=true)"></div>

    <div th:include="menu :: bar"></div>

    <ul class="breadcrumb" style="margin-bottom: 15px;">
        <li><a th:href="@{/index}">Home</a></li>
        <li class="active">Teachers</li>
    </ul>

    <h4 class="page-header" data-th-text="#{teachers.list.table.title}">Configured Positions</h4>

    <div class="table responsive">
        <table id = "teachersTable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-sm-1" data-th-text="#{teachers.list.lastname.label}">Lastname</th>
                <th class="col-sm-1" data-th-text="#{teachers.list.firstname.label}" style="text-align: center">Firstname</th>
                <th class="col-sm-1" data-th-text="#{teachers.list.middlename.label}" style="text-align: center">Middlename</th>
                <th class="col-sm-2" data-th-text="#{teachers.list.birthdate.label}" style="text-align: center">Birthdate</th>
                <th class="col-sm-3" data-th-text="#{teachers.list.address.label}" style="text-align: center">Address</th>
                <th class="col-sm-2" data-th-text="#{teachers.list.action.label}" style="text-align: center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="teacher : ${teachersList}" th:id="srow + ${teacher.id}">
                <td data-th-text="${teacher.lastname}">s</td>
                <td data-th-text="${teacher.firstname}">s</td>
                <td data-th-text="${teacher.middlename}">s</td>
                <td data-th-text="${#dates.format(teacher.birthdate, 'dd-MM-yyyy')}">22-12-2012</td>
                <td data-th-text="${teacher.address}">dss</td>
                <td style="text-align: center;">
                    <a href="#" data-th-href="@{/teachers/edit(id=${teacher.id})}">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                        </button>
                    </a> &nbsp;
                    <a href="#" data-th-href="@{/teachers/delete(id=${teacher.id})}">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="text-align: right; margin-right: 10px">
        <button type="button" class="btn btn-primary" th:onclick="'location.href=\'' + @{/teachers/add} + '\''">Add a new teacher</button>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#BirthdateID').datepicker({
            format : "d MM, yyyy"
        });
    })
</script>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script th:src="@{/js/lib/development/bootstrap.js}"></script>
<script th:src="@{/js/lib/development/table.pagination.js}"></script>
<script th:src="@{/js/lib/models/teachers.js}"></script>
<script th:src="@{/js/lib/development/datetimepicker.js}"></script>
</body>
</html>