<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title data-th-text="#{teachers.list.page.title}">Title</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" href="../css/pagination.css" th:href="@{/css/pagination.css}"/>
    <link rel="script" type="javascript" href="../js/lib/development/jquery-2.1.1.js"
          th:href="@{/js/lib/development/jquery-2.1.1.js}"/>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
</head>

<body>

<div class="container">
    <div th:include="header :: top(login_include=true)"></div>

    <div th:include="menu :: bar"></div>

    <ul class="breadcrumb" style="margin-bottom: 15px;">
        <li><a th:href="@{/index}">Home</a></li>
        <li class="active">Teachers</li>
    </ul>

    <h4 class="page-header" data-th-text="#{teachers.list.table.title}">Configured Positions</h4>

    <div class="table responsive">
        <table id = "teachersTable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="col-sm-1" data-th-text="#{teachers.list.lastname.label}">Lastname</th>
                <th class="col-sm-1" data-th-text="#{teachers.list.firstname.label}" style="text-align: center">Firstname</th>
                <th class="col-sm-1" data-th-text="#{teachers.list.middlename.label}" style="text-align: center">Middlename</th>
                <th class="col-sm-2" data-th-text="#{teachers.list.birthdate.label}" style="text-align: center">Birthdate</th>
                <th class="col-sm-3" data-th-text="#{teachers.list.address.label}" style="text-align: center">Address</th>
                <th class="col-sm-2" data-th-text="#{teachers.list.action.label}" style="text-align: center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="teachers : ${teachersList}">
                <td data-th-text="${teachers.lastname}">s</td>
                <td data-th-text="${teachers.firstname}">s</td>
                <td data-th-text="${teachers.middlename}">s</td>
                <td data-th-text="${#dates.format(teachers.birthdate, 'dd-MM-yyyy')}">22-12-2012</td>
                <td data-th-text="${teachers.address}">dss</td>
                <td style="text-align: center;">
                    <button type="button"
                            th:onclick="'javascript:editTeachers(\'' + ${teachers.id} + '\' , \'' + ${teachers.lastname}+ '\', \'' + ${teachers.firstname}+ '\', \'' + ${teachers.middlename}+ '\', \'' + ${teachers.birthdate}+ '\', \'' + ${teachers.address}+ '\');'"
                            class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                    </button>
                    &nbsp;
                    <a href="#" data-th-href="@{/teachers/delete(id=${teachers.id})}">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <form class="form" id="teacher-details-block" action="#" data-th-action="@{/teachers/add}" data-th-object="${teachers}" method="post">
        <div class="table responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="border: 0"><input type="text" id="posId" hidden="hidden" data-th-field="*{id}"/></td>
                    <td><input class="form-control" id="FastNameId" type="text" data-th-field="*{lastname}" placeholder="lastname"/></td>
                    <td><input class="form-control" id="FirstNameID" type="text" data-th-field="*{firstname}" placeholder="firstname"/></td>
                    <td><input class="form-control" id="MiddleNameID" type="text" data-th-field="*{middlename}" placeholder="middlename"/></td>
                    <td><input class="form-control" id="BirthdateID" type="text" data-th-field="*{birthdate}" placeholder="birthdate"/></td>
                    <td>
                        <div class="col-lg-10">
                            <select class="form-control" th:field="*{positionsByPosition.id}">
                                <option th:each="position : ${positions}"
                                        th:value="${position.id}"
                                        th:text="${position.name}">Position</option>
                            </select>
                            <p th:if="${#fields.hasErrors('positionsByPosition')}" th:errors="*{positionsByPosition}" class="text-warning">Position name is incorrect</p>

                        </div></td>
                    <td><input class="form-control" id="Address" type="text" data-th-field="*{address}" placeholder="address"/></td>
                    <td>
                        <button type="submit" class="btn btn-primary" data-th-text="#{button.label.add.teachers}">Update position
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-1"></td>
                    <td class="col-sm-2 text-danger" data-th-if="${#fields.hasErrors('lastname')}" data-th-errors="*{lastname}">lastname error</td>
                    <td class="col-sm-2 text-danger" data-th-if="${#fields.hasErrors('firstname')}" data-th-errors="*{firstname}">firstname error</td>
                    <td class="col-sm-2 text-danger" data-th-if="${#fields.hasErrors('middlename')}" data-th-errors="*{middlename}">middlename error</td>
                    <td class="col-sm-2"></td>
                    <td class="col-sm-2"></td>
                    <td class="col-sm-2"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

</div>

<script type="text/javascript">
    $(function () {
        $('#BirthdateID').datepicker({
            format : "d MM, yyyy"
        });
    })
</script>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script th:src="@{/js/lib/development/bootstrap.js}"></script>
<script th:src="@{/js/lib/development/table.pagination.js}"></script>
<script th:src="@{/js/lib/models/teachers.js}"></script>
<script th:src="@{/js/lib/development/datetimepicker.js}"></script>
</body>
</html>