<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <div th:include="header :: top(login_include=false)"></div>

    <div th:include="menu :: bar"></div>

    <ul class="breadcrumb" style="margin-bottom: 15px;">
        <li><a th:href="@{/index}">Home</a></li>
        <li class="active">Registration</li>
    </ul>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-6">
                <div class="well bs-component">
                    <form class="form-horizontal" th:action="@{/registration}"  th:object="${users}" method="post">
                        <fieldset>
                            <legend>Registration form</legend>
                            <div class="form-group">
                                <label for="username" class="col-lg-2 control-label">Login</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Login"/>
                                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-warning">Username error</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="col-lg-2 control-label">Password</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Password"/>
                                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-warning">Password error</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="check_password" class="col-lg-2 control-label">Password confirm</label>

                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="check_password" name="check_password"
                                           placeholder="Password checking"/>
                                    <p th:if="${check_password != null}" class="text-warning">Passwords are not the same</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-lg-2 control-label">Lastname</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" th:field="*{lastname}" id="lastname" placeholder="Lastname"/>
                                    <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="text-warning">Lastname error</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstname" class="col-lg-2 control-label">Firstname</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="firstname" th:field="*{firstname}" placeholder="Firstname"/>
                                    <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="text-warning">Firstname error</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="middlename" class="col-lg-2 control-label">Middlename</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="middlename" th:field="*{middlename}" placeholder="Middlename"/>
                                    <p th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}" class="text-warning">Middlename error</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address" class="col-lg-2 control-label">Address</label>

                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Address"/>
                                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-warning">Address error</p>
                                </div>
                            </div>
                            <div class="form-group" style="margin-left: 100px">
                                <p th:if="${captcha != null}" class="text-warning">Captcha error</p>
                                <script type="text/javascript"
                                        src="http://www.google.com/recaptcha/api/challenge?k=6LcmHssSAAAAAOsVCsZyg-azcyr7R7cnAOZUdmg6">
                                </script>
                                <noscript>
                                    <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcmHssSAAAAAOsVCsZyg-azcyr7R7cnAOZUdmg6"
                                            height="300" width="500" frameborder="0"></iframe><br/>
                                    <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
                                    <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
                                </noscript>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="button" class="btn btn-default"
                                            th:onclick="'location.href=\'' + @{/index} + '\''">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var RecaptchaOptions = {
        theme : 'white',
        lang : 'en'
    };
</script>
</body>
</html>